<ion-app>
    <ion-menu side="start" menuId="menu">
        <ion-header>
          <ion-toolbar>
            <ion-title>MENU</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
            <ion-item (click)="OnToView(1)"><ion-icon name="globe"></ion-icon><ion-label>Outreach</ion-label></ion-item>
            <ion-item (click)="OnToView(2)"><ion-icon name="school"></ion-icon><ion-label>School Outreach</ion-label></ion-item>
            <ion-item (click)="OnToView(3)"><ion-icon name="book"></ion-icon><ion-label>Reading Book</ion-label></ion-item>
            <ion-item (click)="OnToView(4)"><ion-icon name="easel"></ion-icon><ion-label>Academic Camp</ion-label></ion-item>
            <ion-item (click)="OnToView(5)"><ion-icon name="bonfire"></ion-icon><ion-label>Moral Camp</ion-label></ion-item>
            <ion-item (click)="OnToView(6)"><ion-icon name="beaker"></ion-icon><ion-label>Science Visit</ion-label></ion-item>
            <ion-item (click)="OnToView(7)"><ion-icon name="contacts"></ion-icon><ion-label>Social Visit</ion-label></ion-item>
            <ion-item (click)="OnToView(8)"><ion-icon name="flask"></ion-icon><ion-label>Science Lecture</ion-label></ion-item>
            <ion-item (click)="OnToView(9)"><ion-icon name="body"></ion-icon><ion-label>Personality Lecture</ion-label></ion-item>
            <ion-item (click)="OnToView(10)"><ion-icon name="people"></ion-icon><ion-label>Social Lecture</ion-label></ion-item>
            <ion-item (click)="OnToView(11)"><ion-icon name="color-palette"></ion-icon><ion-label>Club Activity</ion-label></ion-item>
            <ion-item (click)="OnToView(12)"><ion-icon name="fitness"></ion-icon><ion-label>Exercise</ion-label></ion-item>
            <ion-item (click)="OnToView(13)"><ion-icon name="hand"></ion-icon><ion-label>Meet Teacher</ion-label></ion-item>
          </ion-list>
        </ion-content>
      </ion-menu>

  <ion-router-outlet main></ion-router-outlet>
</ion-app>
