ion-content {
    --background: linear-gradient(rgb(244, 183, 161), rgb(83, 72, 208));
    --ion-font-family: 'Prompt', sans-serif;
}
ion-card-header {
    --color: #000;
}

ion-card {
    --background: #fff;
}